.buttons{
    display: grid;
    grid-template-columns: auto auto;
    font-size: 18px;
}
@media(max-width:767px){
    .buttons{
        grid-template-columns: 1fr;
    }
}
.buttons__button{
    background-color: transparent;
    border: none;
    color: teal
}
.buttons__button:disabled{
    color: #eee;
}
.buttons__button:hover{
    transition: 1s;
    transform: scale(1.1);
}
